### Make Data with PySpark

In [1]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

spark = SparkSession.builder.getOrCreate()

24/01/16 23:50:37 WARN Utils: Your hostname, hongseung-giui-MacBookPro.local resolves to a loopback address: 127.0.0.1; using 192.0.0.2 instead (on interface en0)
24/01/16 23:50:37 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/01/16 23:50:37 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/01/16 23:50:38 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [2]:
data = [
    (1,'Hong','M',5000,'IT'),
    (2,'Lee','M',1000,'Payroll'),
    (3,'Hwang','F',2000,'IT'),
    (4,'Song','M',3000,'HR'),
    (5,'Kim','F',1500,'HR'),
    (6,'Park','M',2500,'Payroll'),
    (7,'Son','F',5500,'IT')
]

data_schema = ['id','name','gender','salary','dep']

df = spark.createDataFrame(data, data_schema)

df.show()

+---+-----+------+------+-------+
| id| name|gender|salary|    dep|
+---+-----+------+------+-------+
|  1| Hong|     M|  5000|     IT|
|  2|  Lee|     M|  1000|Payroll|
|  3|Hwang|     F|  2000|     IT|
|  4| Song|     M|  3000|     HR|
|  5|  Kim|     F|  1500|     HR|
|  6| Park|     M|  2500|Payroll|
|  7|  Son|     F|  5500|     IT|
+---+-----+------+------+-------+

24/01/16 23:50:52 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

### Using groupby method

In [6]:
count = df.groupBy('dep').count()

count.show()

+-------+-----+
|    dep|count|
+-------+-----+
|     IT|    3|
|Payroll|    2|
|     HR|    2|
+-------+-----+

In [13]:
df_max = df.groupBy(['salary', 'id']).max()
df_max.show()

+------+---+-------+-----------+
|salary| id|max(id)|max(salary)|
+------+---+-------+-----------+
|  5000|  1|      1|       5000|
|  1000|  2|      2|       1000|
|  2000|  3|      3|       2000|
|  3000|  4|      4|       3000|
|  1500|  5|      5|       1500|
|  2500|  6|      6|       2500|
|  5500|  7|      7|       5500|
+------+---+-------+-----------+

### Using aggregating method

In [14]:
agg_df = df.groupBy('dep').agg(
    F.max('salary'),
    F.min('salary'),
    F.sum('salary'),
    F.avg('salary'),
)

agg_df.show()

+-------+-----------+-----------+-----------+-----------------+
|    dep|max(salary)|min(salary)|sum(salary)|      avg(salary)|
+-------+-----------+-----------+-----------+-----------------+
|     IT|       5500|       2000|      12500|4166.666666666667|
|Payroll|       2500|       1000|       3500|           1750.0|
|     HR|       3000|       1500|       4500|           2250.0|
+-------+-----------+-----------+-----------+-----------------+