### Make Data with PySpark

In [1]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

spark = SparkSession.builder.getOrCreate()

24/01/16 23:37:49 WARN Utils: Your hostname, hongseung-giui-MacBookPro.local resolves to a loopback address: 127.0.0.1; using 192.0.0.2 instead (on interface en0)
24/01/16 23:37:49 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/01/16 23:37:49 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
data_a = [(1,'kim',2000,2),(2,'hong',3000,1),(3,'Lee',1000,4)]
data_a_schema = ['id','name','salary','dep']

data_b = [(1,'IT'),(2,'HR'),(3,'Payroll')]
data_b_schema = ['id','name']

empDf = spark.createDataFrame(data_a, data_a_schema)
depDf = spark.createDataFrame(data_b, data_b_schema)

empDf.show()
depDf.show()

+---+----+------+---+
| id|name|salary|dep|
+---+----+------+---+
|  1| kim|  2000|  2|
|  2|hong|  3000|  1|
|  3| Lee|  1000|  4|
+---+----+------+---+

+---+-------+
| id|   name|
+---+-------+
|  1|     IT|
|  2|     HR|
|  3|Payroll|
+---+-------+

### Inner join

In [3]:
joinExpression = empDf['dep']==depDf['id']

inner_join = empDf.join(other=depDf, on=joinExpression, how='inner')

inner_join.show()

+---+----+------+---+---+----+
| id|name|salary|dep| id|name|
+---+----+------+---+---+----+
|  2|hong|  3000|  1|  1|  IT|
|  1| kim|  2000|  2|  2|  HR|
+---+----+------+---+---+----+

### Left and Right Outer join

In [4]:
joinExpression = empDf['dep']==depDf['id']

left_outer_join = empDf.join(other=depDf, on=joinExpression, how='left_outer')

left_outer_join.show()

+---+----+------+---+----+----+
| id|name|salary|dep|  id|name|
+---+----+------+---+----+----+
|  1| kim|  2000|  2|   2|  HR|
|  2|hong|  3000|  1|   1|  IT|
|  3| Lee|  1000|  4|NULL|NULL|
+---+----+------+---+----+----+

In [5]:
joinExpression = empDf['dep']==depDf['id']

right_outer_join = empDf.join(other=depDf, on=joinExpression, how='right_outer')

right_outer_join.show()

+----+----+------+----+---+-------+
|  id|name|salary| dep| id|   name|
+----+----+------+----+---+-------+
|   2|hong|  3000|   1|  1|     IT|
|   1| kim|  2000|   2|  2|     HR|
|NULL|NULL|  NULL|NULL|  3|Payroll|
+----+----+------+----+---+-------+

### Full-outer join

In [6]:
joinExpression = empDf['dep']==depDf['id']

full_outer_join = empDf.join(other=depDf, on=joinExpression, how='full_outer')

full_outer_join.show()

+----+----+------+----+----+-------+
|  id|name|salary| dep|  id|   name|
+----+----+------+----+----+-------+
|   2|hong|  3000|   1|   1|     IT|
|   1| kim|  2000|   2|   2|     HR|
|NULL|NULL|  NULL|NULL|   3|Payroll|
|   3| Lee|  1000|   4|NULL|   NULL|
+----+----+------+----+----+-------+

### Left Semi-join and Left Anti-join

In [7]:
joinExpression = empDf['dep']==depDf['id']

left_semi_join = empDf.join(other=depDf, on=joinExpression, how='left_semi')

left_semi_join.show()

+---+----+------+---+
| id|name|salary|dep|
+---+----+------+---+
|  2|hong|  3000|  1|
|  1| kim|  2000|  2|
+---+----+------+---+

In [8]:
joinExpression = empDf['dep']==depDf['id']

left_anti_join = empDf.join(other=depDf, on=joinExpression, how='left_anti')

left_anti_join.show()

+---+----+------+---+
| id|name|salary|dep|
+---+----+------+---+
|  3| Lee|  1000|  4|
+---+----+------+---+

### Cross join

In [9]:
joinExpression = empDf['dep']==depDf['id']

cross_join = empDf.join(other=depDf, on=joinExpression, how='cross')

cross_join.show()

+---+----+------+---+---+----+
| id|name|salary|dep| id|name|
+---+----+------+---+---+----+
|  2|hong|  3000|  1|  1|  IT|
|  1| kim|  2000|  2|  2|  HR|
+---+----+------+---+---+----+